@model VgcCollege.Web.Models.AttendanceRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AttendanceRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseEnrollment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseEnrollment.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Present)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Present)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
